body {
	background-color: #ececec;
	width: 100%;
}

.barre {   
	background: #d0e0e3;
	height: 40px; 
	width: 100%;
} 

.barre ul li {
	list-style: none;
}

.barre ul li a {
	float: right;
	line-height: 10px;
	padding: 10px 10px;
}

.barre ul li a:hover{
	border-top: 3px solid #e0e0e0;
	background-color: #d0e0e3;
}


footer{
	background-color: #d0e0e3;
	color:grey;
	height: 20px;
}

footer li {
	float: middle;
	display: inline-block;
	padding: 30px 30px;
	list-style-type: none;
}

footer li a:hover{
	border-top: 3px solid grey;
	background-color: grey;
}


.photo{
	float: left;
	height: 100px;
	margin-top: 50px;
}
.Prez{
	font-family: Palatino, URW Palladio L, serif ;
	color: white;
	font-size: 20px;
	margin-top: 115px;
	margin-left: 500px;
}

.Nom2{
	background-color: #bad7dc;
}
.Jesuis{
	background-color: #99c1c9;
}
.Etudes{
	background-color: #79a3ab;
}

.Forma li{
	padding-top: 5px;
	color: #79a3ab;
	margin-left: 500px;
	font-family: Palatino, URW Palladio L, serif ;
}


.cart{
	animation: bounce .5s alternate 0.1s infinite ease-in;
	margin-top: 120px;
	margin-left: 500px;
}
@keyframes bounce {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
}

h3{
	font-family: Palatino, URW Palladio L, serif ;
	font-variant: small-caps;
	color: #79a3ab;
	animation: bounce2 .5s alternate 0.1s infinite ease-in;
	font-size: 25px;
}
@keyframes bounce2 {
  100% {
    transform: translateX(-10%);
  }
  10% {
    transform: translateX(0);
  }
}

.Hs{
	font-family: Palatino, URW Palladio L, serif ;
	font-style: bold;
	font-size: 20px;
	color: #79a3ab;
}

.Comp{
	color: #79a3ab;
	margin-left: 450px;
	padding-right: 500px;
	font-family: Palatino, URW Palladio L, serif ;
	font-variant: small-caps;
	font-size: 30px;
}

.SousInfo{
	background-image: url(info.jpg);
	color: white;
	font-style: bold;
	font-size: 20px;
	font-family: Palatino, URW Palladio L, serif ;
}


.Hob{
	font-family: Palatino, URW Palladio L, serif ;
	font-size: 20px;
	font-weight: 1000;
	color: #79a3ab;
	width: 100%;
	margin-top: 10px;
}


form{
	font-family: Palatino, URW Palladio L, serif ;
	font-style: bold;
	font-weight: 1000;
	color: white;
	margin-top: 100px;
	background-image: url(croco.jpg);
}


input, textarea, select {
		 padding: 3px;
		 border: 1px solid grey;
		 border-radius: 5px;
		 width: 200px;
		 box-shadow: 1px 1px 2px #00e9fe;
 }

input[type=submit]{
	 width:100px;
	 margin-left:5px;
	 box-shadow:1px 1px 1px red;
	 cursor:pointer;
}


div#slider{ 
	width: 80%; 
	max-width: 1000px; 
	margin-left: 130px;
	overflow: hidden; 
}

div#slider figure img { 
	width: 20%; 
	height: auto; 
	float: left; 
}


div#slider figure {  
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  position: relative;
  text-align: left;
  animation: 25s slidy infinite;
}

@keyframes slidy 
{
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}