body {
	background-color: #ececec;
	}




.barre {   background: #d0e0e3;
			height: 40px; 
		 } 
.barre ul li {
				
				list-style: none;
				font-style: normal;
				font-family: andale mono;
				font-stretch: semi-expanded;
				font-variant: small-caps;
				font-size: "+2";

				}

.barre ul li a {
	float: right;
	line-height: 10px;
	padding: 10px 10px;

}

.barre ul li a:hover{
	border-top: 3px solid #e0e0e0;
	background-color: #d0e0e3;
}

.photo{
	float: left;
	height: 100px;
	margin-top: 50px;
}
.prez{
	font-family: andale mono;
	color: grey;
	animation: bounce .5s alternate 0.1s infinite ease-in;
	margin-top: 200px;
	margin-left: 500px;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

form{
	font-family: andale mono;
	color: grey;
	margin-top: 100px;
}

input, textarea, select {
		 padding: 3px;
		 border: 1px solid grey;
		 border-radius: 5px;
		 width: 200px;
		 box-shadow: 1px 1px 2px #C0C0C0 inset;
 }
input[type=submit]{
	 width:100px;
	 margin-left:5px;
	 box-shadow:1px 1px 1px #D83F3D;
	 cursor:pointer;
}